HOMEPAGE_VAR_PLATFORM_API_URL=https://platform-api.example.com
HOMEPAGE_VAR_PVE_URL=https://pve.example.com
HOMEPAGE_VAR_UNIFI_URL=https://unifi.example.com
HOMEPAGE_VAR_REGISTRY_URL=https://registry.example.com
HOMEPAGE_VAR_UPTIME_KUMA_STATUS_URL=https://uptime-kuma.example.com/status/homepage
HOMEPAGE_VAR_UPTIME_KUMA_URL=https://uptime-kuma.example.com
